{% load static i18n %}<!DOCTYPE html>
<html lang="en" class="h-100">

  {% include 'head.html' %}

  <body class="d-flex flex-column h-100">

    {% get_current_language as LANGUAGE_CODE %}

    {% include 'header.html' %}

    <main id="content" class="flex-shrink-0" role="main">
      <div class="container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}
          <p>Apfelschuss.io</p>
        {% endblock content %}

      </div> <!-- /container -->
    </main>

    {% include 'footer.html' %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}


      <!-- place project specific Javascript in this file -->

      <script src="{% static 'main.js' %}"></script>


    {% endblock javascript %}
  </body>
</html>

