{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block title %}Apfelschuss – {% trans "Featured polls" %}{% endblock %}

{% block content %}

  {% for poll in polls %}
    <div class="card mb-3">
      <div class="card-body">
        <div class="poll-category mb-1">
          <a href="#" class="badge badge-dark">{{ poll.category.poll_date }}</a>
        </div>
        <h5 class="card-title">{{ poll.title }}</h5>
        <p class="card-text">{{ poll.overview }}</p>
        {% if poll.official_pro %}
          <div class="progress mb-3">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ poll.official_pro }}%" aria-valuenow="{{ poll.official_pro }}" aria-valuemin="0" aria-valuemax="100">{% trans 'Yes' %} {{ poll.official_pro }}%</div>
            <div class="progress-bar" role="progressbar" style="width: {{ poll.get_poll_contra }}%" aria-valuenow="{{ poll.get_poll_contra }}" aria-valuemin="0" aria-valuemax="100">{% trans 'No' %} {{ poll.get_poll_contra }}%</div>
          </div>
        {% endif %}
        <a href="{{ poll.get_absolute_url }}" class="btn btn-outline-primary">{% trans 'Details' %}</a>
      </div>
    </div>
  {% endfor %}

{% endblock %}
