{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block title %}Apfelschuss – {{ poll.title }}{% endblock %}

{% block content %}

<article class="poll">
  <header class="poll-header">
    <div class="poll-category">
      <a href="#" class="badge badge-dark">{{ poll.category.poll_date }}</a>
    </div>

    <h1>{{ poll.title }}</h1>
  </header>

  <div class="poll-content">
    {% if poll.video_url %}
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{ poll.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    {% endif %}
    {{ poll.description | safe }}
    {% if poll.official_pro %}
      <p><a href="{{ poll.admin_brochure.url }}" target="_blank">{% trans 'Download Brochure' %}</a></p>
    {% endif %}
  </div>

  <footer class="poll-footer">
    <p><small class="text-muted">{% trans 'Last updated' %}: {{ poll.updated_at|naturaltime }}</small></p>
  </footer>

</article>

{% endblock %}
