{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block title %}Apfelschuss – {% trans "Archived votes" %}{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-sm-4">

      <ul class="list-group">
        {% for cat in category_count %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ cat.categories__title }}
            <span class="badge badge-primary badge-pill">{{ cat.categories__title__count }}</span>
          </li>
        {% endfor %}
      </ul>

      <form action="{% url 'votes:votes_search' %}" class="form-inline">
        <input name="q" class="form-control mr-sm-2" type="search" placeholder="{% trans 'Search' %}" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans 'Go' %}</button>
      </form>

    </div>

    <div class="col-sm-8">

      {% for voting in queryset %}
        <div class="card">
          <div class="card-body">
            <div class="voting-category">
              {% for cat in voting.categories.all %}
                <a href="#" class="badge badge-dark">{{ cat.title }}</a>
              {% endfor %}
            </div>
            <h5 class="card-title">{{ voting.title }}</h5>
            <p class="card-text">{{ voting.overview }}</p>
            {% if voting.official_pro %}
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ voting.official_pro }}%" aria-valuenow="{{ voting.official_pro }}" aria-valuemin="0" aria-valuemax="100">{% trans 'Yes' %} {{ voting.official_pro }}%</div>
                <div class="progress-bar" role="progressbar" style="width: {{ voting.get_voting_contra }}%" aria-valuenow="{{ voting.get_voting_contra }}" aria-valuemin="0" aria-valuemax="100">{% trans 'No' %} {{ voting.get_voting_contra }}%</div>
              </div>
            {% endif %}
            <a href="{{ voting.get_absolute_url }}" class="btn btn-outline-primary">{% trans 'Details' %}</a>
          </div>
        </div>
      {% endfor %}

      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-template d-flex justify-content-center">
          {% if queryset.has_previous %}
            <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" class="page-link">{% trans 'Previous' %}</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">{% trans 'Previous' %}</span></li>
          {% endif %}

          {% for i in queryset.paginator.page_range %}
            {% if queryset.number == i %}
              <li class="page-item active"><a href="?{{ page_request_var }}={{ i }}" class="page-link">{{ i }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if queryset.has_next %}
            <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="page-link">{% trans 'Next' %}</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">{% trans 'Next' %}</span></li>
          {% endif %}
        </ul>
      </nav>

    </div>

  </div>

{% endblock %}
