{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block title %}Apfelschuss – {{ voting.title }}{% endblock %}

{% block content %}

  <h1>{{ voting.title }}</h1>

  {% for cat in voting.categories.all %}
    <a href="#" class="badge badge-light">{{ cat.title }}</a>
  {% endfor %}

  <img src="{{ voting.thumbnail.url }}" class="img-fluid" alt="Thumbnail">

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{ voting.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p>{{ voting.description | safe }}</p>

  <p>{{ voting.author }}</p>

  <p>{% trans 'Last updated' %}: {{ voting.updated_at|naturaltime }}</p>

  {% if voting.previous_voting %}
  <a href="{{ voting.previous_voting.get_absolute_url }}">
      <div class="text">Previous Post
        <h6>{{ voting.previous_voting.title }}</h6>
      </div>
  </a>
  {% endif %}
  {% if voting.next_voting %}
  <a href="{{ voting.next_voting.get_absolute_url }}">
      <div class="text">Next Post
        <h6>{{ voting.next_voting.title }}</h6>
      </div>
  </a>
  {% endif %}

{% endblock %}
